<launch>

    <!-- The parameter server ues the name convention of ros, so, by defining so the name of the parameters -->
    <!-- we are able to retrieve the position and orientation just by execute the rosparam /initial_pose commands -->
    
    <param name="initial_pose/position/xPos" type="double" value = "0.008160" />
    <param name="initial_pose/position/yPos" type="double" value = "0.003060" />
    <param name="initial_pose/position/zPos" type="double" value = "0.0" />

    <param name="initial_pose/orientation/x" type="double" value = "-0.011578" />
    <param name="initial_pose/orientation/y" type="double" value = "-0.011578"/>
    <param name="initial_pose/orientation/z" type="double" value = "-0.019595"/>
    <param name="initial_pose/orientation/w" type="double" value = "0.999526"/>
    <param name="initial_pose/orientation/theta" type="double" value = "0.0"/>

    <param name="n_windows" type="int" value = "44" />

    <node pkg="project1" type="odometry" name="speed_calculator" output="screen" />
    <node pkg="project1" type="gt_pose" name="ground_truth_listener" output="screen" />
    <node pkg="project1" type="broadcaster_tf2" name="tf_broadcast" output="screen" />
    <node pkg="project1" type="kinematics" name="kinematics" output="screen" />
    <node pkg="project1" type="compute_control" name="compute_control" output="screen" />

    <node pkg="tf" type="static_transform_publisher" name="map" args="0.0 0.0 0.0 0.0 0.0 0.0 odom map 100"/>
    

    <!-- Here the command to run rqt_plot -->
    <node pkg="rqt_plot" type="rqt_plot" output="screen" name="true_pose" args="/robot/pose/pose/position/x:y"/>
    <node pkg="rqt_plot" type="rqt_plot" output="screen" name="odometry" args="/odom/pose/pose/position/x:y" />

    <node pkg="rqt_plot" type="rqt_plot" output="screen" name="recomputed_rpm" args="/wheels_rpm/rpm_fl:rpm_rr:rpm_fr:rpm_rl"/>
    <node pkg="rqt_plot" type="rqt_plot" output="screen" name="original_rpm" args="/wheel_states/velocity[0]:velocity[1]:velocity[2]:velocity[3]" />

</launch>
