<launch>
	<!-- Launches rviz with a config that shows merged lasers, odometry and map as created by gmapping -->
	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find project2)/laser_map_odometry.rviz" >
	<param name="/use_sim_time" value="true"/>
	</node>

   <!--  ************** add odom tf  ***************  -->
   <node pkg="modifieddemo" type="odom_tf_modified" respawn="false" name="odom_tf_modified" output="screen"/>

   <!-- **************  scan_merger **************  -->
  <include file="$(find modifieddemo)/launch/scan_merger.launch"/>

  <!--  *****************  AMCL  ***************  -->
  <include file="$(find modifieddemo)/config/amcl.launch"/>

  <!-- Set the name of the map yaml file: can be overridden on the command line. -->

  <arg name="map" default="map_Bag_transform.yaml" /> <!-- Run the map server with the desired map -->

  <node name="map_server" pkg="map_server" type="map_server" args="$(find modifieddemo)/maps/$(arg map)"/>



</launch>