<launch>
	
	<node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_imu" args="0.0 0.0 0.0 0.0 0.0 0.0 base_link imu" />

	

	<node pkg="robot_localization" type="ekf_localization_node" name="ekf_loc" clear_params="true" output="screen" >
		<remap from="/odometry/filtered" to="/odometry/local"/>
                <rosparam command="load" file="$(find project2)/config/ekf_loc.yaml"/>    
	</node>
	
	      
    


</launch>
