<launch>

   <param name="/use_sim_time" value="true"/>


  <!--  ************** add odom tf  ***************  -->
   <node pkg="project2" type="odom_tf_modified" respawn="false" name="odom_tf_modified" output="screen"/>
   

<!--  *****************  AMCL  ***************  -->
<!-- <include file="$(find project2)/launch/amcl.launch"/> -->

 <!-- **************  Robot loc **************  -->
<!-- <include file="$(find project2)/launch/localization.launch"/>
 -->
<!-- **************  scan_merger **************  -->
  <include file="$(find project2)/launch/scan_merger.launch"/>
  
<!-- **************  gmapping config **************  -->  
  <include file="$(find project2)/config/hector.launch.xml"/>

  

	<!-- Launches rviz with a config that shows merged lasers, odometry and map as created by gmapping -->
	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find project2)/laser_map_odometry.rviz" >
	<param name="/use_sim_time" value="true"/>
	</node>

  <!-- ***************  TF Robot Transforms  *************** -->  
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_robot_rear" args="-0.35 0.0 0.0 0.0 0.0 0.866 0.5 base_link laser_rear "/>
	<node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_robot_front" args="0.35 0.0 0.0 0.0 0.0 0.5150381 0.8571673 base_link laser_front "/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_footprint_to_base_link" args="0.0 0.0 0.0 0.0 0.0 0.0 1.0 base_footprint base_link "/>


</launch>

